{%  extends 'music/base.html' %}
{% block title %}Album details{%  endblock %}

{% block body %}
    <div class="container col-md-offset-1 col-md-1" style=" background-color: white; width: 330px; padding-bottom: 20px;">
        <img src="{{ album.album_logo }}"  height="300" width="300" border="0" style="padding-top: 15px;" >
        <h3>{{ album.album_title }}</h3>
        <h4>{{ album.artist }}</h4>
        <h4>{{ album.genre}}</h4>

        {%  if error_message %}
            <div class="control-group error">
                <span class="text-danger small">
                    {{ error_message }}
                </span>
            </div>
        {% endif %}

        <form action="{% url 'music:favorite' album.id %}" method="post">
            {%  csrf_token %}
            {% for song in album.song_set.all %}
                <div class="radio">
                  <label><input type="radio" id="song" name="song" value="{{ song.id }}">
                    {{  song.song_title }}
                    {%  if song.is_favorite %}
                        <span class="glyphicon glyphicon-star" style="color:orange"></span>
                    {% endif %}
                    </label>
                </div>
            {% endfor %}<br>
            {% if album.song_set.all %}
                <button type="submit" value="Favorite" class="btn btn-primary btn-sm">
                    Favorite
                </button>
            {% endif %}
            <a href="{% url 'music:index' %}" class="btn btn-primary btn-sm">Retour aux albums</a>
        </form>

    </div>

{% endblock %}