{%  extends 'music/base.html' %}
{% block title %}Album details{%  endblock %}

{% block body %}
    <div class="container col-md-offset-1 col-md-1" style=" background-color: white; width: 330px; padding-bottom: 20px;">
        <img src="{{ album.album_logo }}"  height="300" width="300" border="0" style="padding-top: 15px;" >
        <h3>{{ album.album_title }}</h3>
        <h4>{{ album.artist }}</h4>
        <h4>{{ album.genre}}</h4>

        {% for song in album.song_set.all %}
            {{  song.song_title }}
            {%  if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" />
            {% endif %}
            <br>
        {% endfor %}
    </div>

{% endblock %}