Camelot==12.6.29
certifi==2017.1.23
chardet==2.3.0
decorator==4.0.11
Django==1.11
Elixir==0.7.1
guidata==1.7.6
Jinja2==2.9.6
MarkupSafe==1.0
pbr==2.0.0
psycopg2==2.7.1
PyQt3D==5.8
PyQt5==5.8
PyQtChart==5.8
PyQtDataVisualization==5.8
pytz==2017.2
sip==4.19.1
six==1.10.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
xlrd==0.7.1
xlwt==0.7.2
